<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".config" mimeType="text/xml" />
            <mimeMap fileExtension=".cshtml" mimeType="application/text" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="Index.cshtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
