<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CLDC_StartUpDispatcher.Properties.Settings.CLOUMETERDATASERVER"
            connectionString="Data Source=10.218.222.108;Initial Catalog=CLOUMETERDATASERVER;Persist Security Info=True;User ID=dba_xj;Password=dba_xj" />
    </connectionStrings>
</configuration>