<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLDC_VerifyClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CLDC_VerifyClient.Properties.Settings>
            <setting name="ViewIP" serializeAs="String">
                <value>http://127.0.0.1:8888</value>
            </setting>
        </CLDC_VerifyClient.Properties.Settings>
    </userSettings>
</configuration>