<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CLDC_StartUpDispatcher.Properties.Settings.CLOUMETERDATASERVER"
            connectionString="Data Source=10.98.87.10;Initial Catalog=CLOUSERVERDATACENTER;Persist Security Info=True;User ID=kaury;Password=abc@123" />
    </connectionStrings>
</configuration>