<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup
          name="userSettings"
          type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mesurement.UiLayer.DataManager.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mesurement.UiLayer.DataManager.Properties.Settings>
            <setting name="ReportPath" serializeAs="String">
                <value>E:\MeterPlatform\Mesurement.UiLayer\Resouce\ReportTemplate\单相电能表检定结果通知书.doc</value>
            </setting>
            <setting name="LastUserName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="IsPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnNames" serializeAs="String">
                <value />
            </setting>
        </Mesurement.UiLayer.DataManager.Properties.Settings>
    </userSettings>
</configuration>