<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Clou.Mesurement.UiLayer.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Clou.Mesurement.UiLayer.WPF.Properties.Settings>
            <setting name="FacadeName" serializeAs="String">
                <value>淡蓝</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="Humidy" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ShowTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidateTime" serializeAs="String">
                <value>9</value>
            </setting>
        </Clou.Mesurement.UiLayer.WPF.Properties.Settings>
    </userSettings>
</configuration>
